# Git LFS tracking for large binary files
data/best_model.pt filter=lfs diff=lfs merge=lfs -text
data/best_model_efficientnet_b0.pt filter=lfs diff=lfs merge=lfs -text
data/original1000.zip filter=lfs diff=lfs merge=lfs -text
